.caja-contenedor{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: transicion 1s;
}
.caja-contenedor h2 {
    color: #e4e6eb;
}
.caja-contenedor div {
    padding: 8px;
    background-color: #18191a;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 500px;
}
.caja-contenedor div img {
    height: auto;
    width: 350px;
   
    border-radius: 20px;
}
.caja-contenedor div h2 {
    color: #b0b3b8
}
.caja-contenedor div p {
    color: #b0b3b8
}
@keyframes transicion {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}