.ItemDetailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    padding: 10px;
    animation: transicion 1s;
}
.ItemDetailContainerh3 {
    color: white;
    background-color: #18191a;
    text-align: center;

}
@keyframes transicion {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}